extends layout

block content
  section 
    h1= title + "소개"
    p Welcome to #{title}
    ul
      li 현재 강의실의 이용정보 및 출석상태를 보여주는 페이지입니다.
      li 아직은 시험동작 중이니 많은 테스트 부탁합니다. 
      li 자세한 내용은 추후에 올리도록 하겠습니다. 
    hr  

