nav#topmenu
  ul 
    li.menulink
      a(href="/") 이용방법
    li.menulink
      a(href="/schedule") 강의일정
    li.menulink
      a(href="/classinfo") 강의정보
    li.menulink
      a(href="/attinfo") 출석정보
    li.menulink
      a(href="/admin") 관리자
  
